<h2>Complete Profile</h2>

<%= form_for @user, :url => { :action => "create_profile", :controller => :users }, :method => :post,
                    :html => { :multipart => true } do |f|  %>
  
  <%= render "tabs"%>
  
  <!-- validation error  -->
  <% unless @user.errors.blank? %>
    <% @user.errors.full_messages.each do |error| %>
      <div><%= error %></div>
    <% end %>
  <% end %>
  
  <div><%= f.label :name %>
  <%= f.text_field :name %></div>

  <div><%= f.label :cast %>
  <%= f.text_field :cast %></div>

  <div><%= f.label :religion %>
  <%= f.select(:religion,User::RELIGION) %>
  
  <div><%= f.label :age %>
  <%= f.select(:age,User::AGE) %></div>

  <div><%= f.label :occupation %>
  <%= f.text_field :occupation %></div>

  <div><%= f.label :organization %>
  <%= f.text_field :organization %></div>

  <div><%= f.label :income %>
  <%= f.text_field :income %></div>

  <div><%= f.label :horoscope %>
  <%= f.text_field :horoscope %></div>

  <div><%= f.label :Height %>
  <%= f.select(:Height, User::HEIGHT) %></div>

  <div><%= f.label :weight %>
  <%= f.text_field :weight %></div>

  <div><%= f.label :marrital_status %>
    <div class="btn-group" data-toggle="buttons-radio">
     <%= f.radio_button :marrital_status, "1",:checked=> true %>
     <%= f.label :Single%>
   </div>

    <div class="btn-group" data-toggle="buttons-radio">
     <%= f.radio_button "marrital_status", "2" %>
     <%= f.label 'Married'%> 
    </div>

    <div class="btn-group" data-toggle="buttons-radio">
     <%= f.radio_button :marrital_status, "3" %>
     <%= f.label :Divorced %>
    </div>
    <div class="btn-group" data-toggle="buttons-radio">
     <%= f.radio_button :marrital_status, "4" %>
     <%= f.label :LiveIn %>
    </div>
  </div>

  <div><%= f.label :family %>
  <%= f.text_field :family %></div>

  <div><%= f.label :eating_habbit %>
  
  <div class="btn-group" data-toggle="buttons-radio">
   <%= f.radio_button :eating_habbit, "1", :checked=> true %>
   <%= f.label :Veg %>
   </div>

    <div class="btn-group" data-toggle="buttons-radio">
     <%= f.radio_button :eating_habbit, "2" %>
     <%= f.label :nonveg %>
    </div>

    <div class="btn-group" data-toggle="buttons-radio">
     <%= f.radio_button :eating_habbit, "3" %>
     <%= f.label :eggetarian %>
    </div>
   </div>

   <div><%= f.label :physical_change %>
    <div class="btn-group" data-toggle="buttons-radio">
     <%= f.radio_button :physical_status, "1", :checked=> true %>
     <%= f.label :yes %>
    </div>

    <div class="btn-group" data-toggle="buttons-radio">
     <%= f.radio_button :physical_status, "2" %>
     <%= f.label :no %>
    </div>
  </div>

  <div><%= f.label :current_address %>
  <%= f.text_field :current_address %></div>

  <div><%= f.label :parmanent_address %>
  <%= f.text_field :parmanent_address %></div>

  <div><%= f.label :about_us %>
  <%= f.text_area :about_us, :size=> "30*10", :maxlength => 140,
                  :autocomplete => :off %></div>

  <div><%= f.label :profile_created_by %><br />
  <%= f.select(:profile_created_by,User::PROFILE_CREATED_BY) %>

  <div><%=f.label :avatar %>
  <%= f.file_field :avatar %></div>

  <!-- to show the image -->
  <%= image_tag @user.avatar.url(:thumb) %>


  <div><%= f.submit "save", :class=> "btn btn-primary" %></div>
<% end %>